<?php
/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */

declare(strict_types=1);

use Magento\Framework\Escaper;
use Magento\Framework\View\Element\Template;
use Resursbank\Rco\ViewModel\Frontend\Session;

/** @var Template $block */
/** @var Session $viewModel */
/** @var Escaper $escaper */

if (isset($block)) {
    /** @noinspection PhpPossiblePolymorphicInvocationInspection */
    $viewModel = $block->getViewModel();
}
?>

<?php // Didn't combine if-blocks because PHPStan will complain unnecessarily. ?>
<?php if (isset($viewModel, $escaper)): ?>
    <?php if ($viewModel->isInitialized()): ?>
        <?= /* @noEscape */ $viewModel->getIframeLibScriptTag() ?>
        <script>
            require(
                ['Resursbank_Rco/js/model/session'],
                /**
                 * @param {Rco.Model.Session} Session
                 */
                function (Session) {
                    // Set the session data so that the iframe can be initialized.
                    Session.init(
                        '<?= $escaper->escapeHtml($viewModel->getActiveUsername()) ?>',
                        '<?= $escaper->escapeHtml($viewModel->getEnvironment()) ?>',
                        '<?= $escaper->escapeHtml($viewModel->getIframeUrl()) ?>',
                        '<?= $escaper->escapeHtml($viewModel->getPaymentSessionId()) ?>',
                        <?= $viewModel->isAlertShippingMethodUpdates() ? 'true' : 'false' ?>,
                    );
               }
           );
        </script>
    <?php else: ?>
        <style type="text/css">
            #opc-sidebar,
            #resursbank-rco-shipping-method-title,
            #checkoutSteps {
                display:none !important;
            }
        </style>
        <div id="resursbank-rco-broken-connection">
            <p class="icon">&#9785;</p>
            <p><?= $escaper->escapeHtml(__('Connection to checkout gateway failed.')) ?></p>
            <p><?= $escaper->escapeHtml(__('Please try again in a few minutes.')) ?></p>
        </div>
    <?php endif; ?>
<?php endif; ?>
