<!--
/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */
-->

<div id="resursbank-rco-shipping-method-title">
    <h4 translate="'Select shipping method'"></h4>
</div>
