/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */

/*
    Targets the alert box.
 */
.resursbank-rco-alert .modal-inner-wrap {
    border-radius: 10px;
}

/*
    Targets the header of the alert box.
 */
.resursbank-rco-alert .modal-inner-wrap header {
    /* Removes the title and the close button. */
    display: none;
}

/*
    Targets the Resurs Bank logo of the supplied content.
 */
.resursbank-rco-alert .resursbank-rco-alert-content .resursbank-rco-alert-logo {
    background-image: url("../images/RB_182x65.png");
    background-repeat: no-repeat;
    background-size: 130px auto;
    background-position: left center;
    height: 65px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
