/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */

/*
    Custom fonts.
*/
@font-face {
    font-family: 'ResursSans-Regular';
    src: url('../font/ResursSans-Regular.woff2') format('woff2'),
         url('../font/ResursSans-Regular.woff') format('woff'),
         url('../font/ResursSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'ResursSans-Bold';
    src: url('../font/ResursSans-Bold.woff2') format('woff2'),
    url('../font/ResursSans-Bold.woff') format('woff'),
    url('../font/ResursSans-Bold.ttf') format('truetype');
}

/*
    Basic font of all elements outside the iframe (namely shipping block).
 */
#checkoutSteps {
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    font-size: 16px;
}

#resursbank-rco-sign-in > .authentication-wrapper {
    float: none;
    margin-top: 0;
    text-align: unset;
    padding: 0 15px;
    margin-bottom: 50px;
}

/*
    Avoid additional margin in block with message displayed when there are no
    available quotes.
 */
.opc-wrapper .no-quotes-block {
    margin: -20px 0 0 0;
}

/*
    Targets title of shipping address.
*/
#checkoutSteps > #shipping > .step-title {
    display: none;
}

/*
    Targets title of shipping methods.
*/
.checkout-shipping-method .step-title {
    display: none;
}

/*
    Targets the buttons at the bottom of the page that will take the customer
    to the next step.
*/
#checkout-step-shipping_method > #co-shipping-method-form > #shipping-method-buttons-container {
    display: none;
}

/*
    Targets "Apply Discount" button container in sidebar.
*/
.checkout-payment-method .payment-option-content .form-discount .actions-toolbar {
    /* Puts toolbar underneath input. */
    display: block;
}

/*
    Targets the discount block.
*/
.resursbank-rco-discount.checkout-payment-method {
    margin: 0 auto;
    max-width: 515px;
    padding: 0 15px 0 15px;
}

/*
    Targets the discount block title section.
*/
.resursbank-rco-discount.checkout-payment-method .payment-option-title {
    border: none;
    padding-left: 0;
}

/*
    Targets the discount block title button.
*/
.resursbank-rco-discount.checkout-payment-method .payment-option-title .action-toggle {
    color: #211551;
    font-family: 'ResursSans-Bold',Arial,Helvetica,sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
}

/*
    Targets the discount block content.
*/
.resursbank-rco-discount.checkout-payment-method .payment-option-content {
    padding: 0 0 20px 0;
}

/*
    Targets the discount block title arrow.
*/
.resursbank-rco-discount.checkout-payment-method .payment-option-title .action-toggle:after {
    color: unset;
    font-size: unset;
}

/*
 Removes the margin which is applied on (max-width: 768px) windows
 */
.checkout-payment-method .payment-option {
    margin: 0px;
}

/*
    Correct shipping method list / title width and margins.
*/
.opc-wrapper .methods-shipping {
    margin-top: -20px;
}

#opc-shipping_method,
#resursbank-rco-shipping-method-title {
    margin: 0 auto;
    max-width: 515px;
    padding: 0 15px 0 15px;
}

/*
    Correct shipping method list width / padding etc. based on screen size.
*/
@media only screen and (max-width: 781px) {
    #opc-shipping_method,
    #resursbank-rco-shipping-method-title  {
        max-width: 545px !important;
    }
}

@media only screen and (max-width: 639px) {
    .opc-wrapper .methods-shipping {
        padding: 0 15px 0 15px;
        background: none;
        border-bottom: none;
        margin-top: 20px;
    }
}

/*
    Mimic styling of titles in iframe.
*/
#resursbank-rco-shipping-method-title h4 {
    color: #211551;
    font-family: 'ResursSans-Bold',Arial,Helvetica,sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    margin: 0;
}

/*
    Align sidebar with shipping method block.
*/
#checkout-step-shipping_method {
    margin-bottom: 16px;
}

/*
    Align sidebar with shipping method block.
*/
@media (min-width: 768px), print {
    .opc-sidebar {
        margin-top: 20px !important;
    }
}

/*
    Hide the shipping-address form container.
*/
.opc-wrapper .form-shipping-address {
    display: none;
}

/*
    Shipping method container.
*/
#checkout-shipping-method-load {
    border: 1px solid #ced4da;
    color: rgb(33, 37, 41);
}

/*
    Shipping method line.
*/
#checkout-shipping-method-load .table-checkout-shipping-method {
    width: 100%;
}

#checkout-shipping-method-load .table-checkout-shipping-method tr {
    width: 100%;
    cursor: pointer;
    font-family: 'ResursSans-Regular', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #212529;
}

#checkout-shipping-method-load .price {
    font-weight: normal;
}

#checkout-shipping-method-load input {
    cursor: pointer;
}

#checkout-shipping-method-load table tbody tr.resursbank-rco-selected td {
    background-color: #f8f9fa;
}

.table-checkout-shipping-method tbody td {
    padding-left: 13px !important;
    padding-bottom: 18px;
    padding-top: 18px;
    background: #fff;
}

/*
    Style radio button (unchecked).
*/
.table-checkout-shipping-method input[type='radio']:before {
    width: 21px;
    height: 21px;
    border-radius: 21px;
    top: -3px;
    left: -1px;
    position: relative;
    background-color: #ffffff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #ced4da;
}

/*
    Style radio button (checked).
*/
.table-checkout-shipping-method input[type='radio']:checked:before {
    width: 21px;
    height: 21px;
    border-radius: 21px;
    top: -3px;
    left: -1px;
    position: relative;
    background-color: #28a745;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #28a745;
}

/*
    Display checkmark inside checked radio button.
*/
.table-checkout-shipping-method input[type='radio']:checked:after {
    border-style: solid;
    border-color: #fff;
    border-width: 0 0 2px 2px;
    content: "";
    height: 7px;
    margin-top: -40%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 12px;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    top: -28px;
    left: 5px;
}

/*
    Hide highlight when focusing on the radio button inputs.
*/
.table-checkout-shipping-method input[type='radio']:focus {
    outline: none 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*
    Disable internal loading masks.
*/
.checkout-shipping-method .loading-mask {
    display: none !important;
}

body > .loading-mask {
    display: none !important;
}

#opc-sidebar .loading-mask {
    display: none !important;
}

/* Information displayed when checkout gateway failed to initiate. */
#resursbank-rco-broken-connection {
    width:100%;
    text-align: center;
    font-size: 20px;
}

#resursbank-rco-broken-connection .icon {
    font-size: 125px;
}

@media only screen and (max-width: 399px) {
    #resursbank-rco-broken-connection  {
        font-size: 15px;
    }

    #resursbank-rco-broken-connection .icon {
        font-size: 100px;
    }
}

/*
    Hide new adress widget.
*/
.checkout-shipping-address .new-address-popup {
    display: none;
}
